* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(201, 198, 198);
}


h1 {
    color: gold;
    text-align: center;
    background-color: darkslategrey;
    margin-bottom: 50px;
}

#grid-btn-parent {
    display: flex;
    justify-content: center;
}

#grid-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    margin: 30px;
    padding: 20px;
    border: solid 3px black;
    border-radius: 15px;;
    font-size: 20px;
    background-color: white;
    color: black;
}

#parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    width: 90px;
    height: 50px;
    margin: 50px;
    border: solid 3px black;
    border-radius: 15px;;
    font-size: 20px;
    background-color: white;
    color: black;

}

#buttons {
    display: flex;
    justify-content: center;
}

.button-styling-clear {
    border: solid 5px black;
    font-weight: bold;
}
.button-styling-white {
    border: solid 5px black;
    font-weight: bold;
    background-color: white;
    color: black;
}
.button-styling-black {
    border: solid 5px black;
    font-weight: bold;
    background-color: white;
    color: black;
}
.button-styling-rainbow {
    border: solid 5px black;
    font-weight: bold;
    color: red;
}


#parent {
    display: grid;
    justify-content: center;
}

#grid-container {
    border: solid 3px green;
    display: grid;
    grid-template-columns:repeat(16, 0fr);
    justify-content: center;
    width: 960px;
}

.box-style {
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 35px;
    width: 35px;
    border: solid 1px black;
    margin: 0;
}

box-style:hover {
    background-color: rgb(190, 190, 190);

}